<div *ngIf="showMain">
    <mat-nav-list>
        <mat-list-item>
            <a matLine (click)="displayPages()">Pages</a>
        </mat-list-item>
        <mat-list-item>
            <a matLine href="...">Lists</a>
        </mat-list-item>
    </mat-nav-list>
</div>

<div *ngIf="showPages">
    <mat-nav-list *ngFor="let page of adminPages">
        <mat-list-item>
            <a matLine (click)="getPage(page._id)">{{page.name}}</a>
        </mat-list-item>
    </mat-nav-list>
</div>

<div *ngIf="lists">
    Pages
</div>

<div *ngIf="showPosts">
    <mat-nav-list *ngFor="let post of posts">
        <mat-list-item>
            <a matLine (click)="getPost(post._id)">{{post.subject}}</a>
        </mat-list-item>
    </mat-nav-list>
</div>