<h2 class="offset-md-2 col-md-8 title">create a new page</h2>

<div class="row">
    <span class="col-md-2 write-header">name</span>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what will this page be called?"
                    [modules]="nameModules"
                    [(ngModel)]="newPageName"
                    (onEditorCreated)="setFocus($event)"
                    (onContentChanged)="nameContentChanged($event);">
    </quill-editor>
</div>
<div class="row">
    <div class="col-md-2 write-header">description</div>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what is this page about?"
                    [modules]="descriptionModules"
                    [(ngModel)]="newPageDescription"
                    (onContentChanged)="descriptionContentChanged($event);">
    </quill-editor>
</div>
<div class="col-md-10">
    <button mat-raised-button class="pull-right submit-post-btn" color="primary" (click)="createPage()">Create Page</button>
</div>
