<div class="whole">
    <div id="color_overlay">
        <div class="main">
            <div class="title text-center">HANA</div>
            <div class="title-subtitle text-center">discover. share. pray.</div>
            <!-- <img src="https://lh3.googleusercontent.com/wXd7FzOakyNqNsGHGv-YevowlNoyHg0TeVqVYKiMhtX5VeaHPpjKjvW-aqDdGNIHNjIX5A4Kh6VIW76rx6GlewVlDZ1KZv92q2IBj-sWSduliVTtuPv8Ny0kWFT7DJHBbr9DkEHbgbKZ3Ef-SoTkJimBjymZtuDN-wjMh52lBWU0c7Ff8T3xGBvyYjqJ7s8RWLm9G_gPcYfsw6CuUnEHHzy63GjNzl1vRgE1_fah3gcx6dPyecO-se7nJ91NK9_yi95hANee6ZfXIwdq9GeRzhji3G-9EuYywwrpHaP3YEZouAZf_T-fyveJEVDNPpVMHJ-2NKo_v7j86WAeSJPpEiYbc9ZWYDVkkeV6gwLgtJgoVwygOcAgbwqhxyklalEf3EPwGZPRMaFKp6ubyv5TKfOUij6qKs4iAoQ4O32IlfHylHnvZWi7bxTp7BMbleWJslXUQOkcnPSG5rP_NMyHHnZW_eGCAAGKg0mXTeKvq_OO33lc-nkzwFkh6FZUJzGHG3nGVUeevG7ccS21O0NDH0eJiBKdM62D1aMs5EIdD6e6Epmiq6fJxwp_yBUw69QnSNPT8jSsRcogrvtcPfTsBk0FD5FceTJmZXQVhdo=w364-h445-no"/> -->
            <div class="description text-center">
                <div class="subtitle">We believe in prayer.</div>
                <div class="subtitle">So we made it easy to share prayer requests.</div>
            </div>
            <div class="text-center">
                <button class="btn btn-outline-primary enter pointer" routerLink="/signup">Get Started</button>
            </div>
            <!-- <div class="title">Move Mountains</div>
            <div class="subtitle">We believe in prayer.</div>
            <div class="subtitle">So we made it easy to share prayer requests.</div>
            <div>
                <button class="btn btn-outline-primary enter pointer" routerLink="/signup">Get Started</button>
            </div> -->
        </div>
    </div>
</div>
