@import "./../../styles.scss";

#color_overlay {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.enter {
    margin-top: 5%;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    position: absolute;
    width: 100%;
}

.subtitle {
    color: $grey-light-color;
    font-size: $font-size-s;
}

.title {
    font-size: 48px;
    margin-bottom: 1%;
}

.whole {
    background-color: white;
    background-image: url("./background2.jpg");
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
