<div class="whole">
    <div class="main">
        <div class="title text-center">HANA</div>
        <div class="title-subtitle text-center">discover. share. pray.</div>
        <div class="description text-center">
            <div class="subtitle">We believe in prayer.</div>
            <div class="subtitle">So we made it easy to share prayer requests.</div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary enter pointer" routerLink="/signup">Get Started</button>
        </div>
    </div>
</div>
