<div class="col-md-8 offset-md-2">
    <div class="title" (click)="returnToPage()">{{page.name}}</div>
    <div class="description">{{page.description}}</div>
    <div *ngIf="page.followers.length===1" class="followers description">{{page.followers.length}} follower</div>
    <div *ngIf="page.followers.length!=1" class="followers description">{{page.followers.length}} followers</div>
    <div class="btns">
        <button *ngIf="(level==='admin' || level==='contributor') && !showCreatePost" class="btn btn-secondary btn-sm custom-btn pointer" (click)="createPost()">Write a Prayer Post</button>
        <button *ngIf="level==='admin'" class="btn btn-secondary btn-sm custom-btn pointer" (click)="editPage()">Edit Page</button>
    </div>
</div>

<div *ngIf="showPosts" class="col-md-8 offset-md-2">
    <div *ngFor="let post of page.posts">
        <mat-card (click)="viewPost(post._id)" 
                    (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)"
                    [ngClass]="{'card-urgent': post.urgent}">
            <div class="pull-right">{{post.create_date | date: 'MM/dd/yy'}}</div>
            <div class="subject" [innerHTML]="post.subject"></div> 
            <div class="prayer" [innerHTML]="post.prayer"></div>
            <!-- <div *ngIf="post.urgent || post.resolved" class="chips">
                <mat-chip-list>
                    <mat-chip *ngIf="post.urgent" class="chip-urgent">Urgent</mat-chip>
                    <mat-chip *ngIf="post.resolved" class="chip-resolved">Resolved</mat-chip>
                </mat-chip-list>
            </div> -->
        </mat-card>
    </div>
</div>

<div *ngIf="showEditPage">
    <app-edit-page [editPage]="page"></app-edit-page>
</div>

<div *ngIf="showPost">
    <app-post [post]="post"></app-post>
</div>

<div *ngIf="showCreatePost">
    <app-create-post [pageId]="page._id" [pageName]="page.name"></app-create-post>
</div>
