<div class="col-md-8 offset-md-2">
    <div class="title" (click)="returnToPage()">{{page.name}}</div>
    <div *ngIf="showHeaderInfo">
        <div class="description">{{page.description}}</div>
        <div *ngIf="page.followers.length===1" class="followers description">{{page.followers.length}} follower</div>
        <div *ngIf="page.followers.length!=1" class="followers description">{{page.followers.length}} followers</div>
        <div class="btns">
            <button *ngIf="(level==='admin' || level==='contributor') && !showCreatePost" class="btn btn-secondary btn-sm custom-btn pointer" (click)="createPost()">Write a Prayer Post</button>
            <button *ngIf="level==='admin'" class="btn btn-secondary btn-sm custom-btn pointer" (click)="editPage()">Edit Page</button>
        </div>
    </div>
</div>

<div *ngIf="showPosts" class="col-md-8 offset-md-2">
    <div *ngFor="let post of page.posts">
        <div class="post_header">{{post.author_name}}</div>
        <div class="post_date">{{post.create_date | date: 'MMMM d, y'}}</div>
        <div (click)="viewPost(post._id)" class="post_body">
            <div class="post_subject">{{post.subject}}</div>
            <div [innerHTML]="post.prayer" class="post_prayer"></div>
        </div>
    </div>
</div>

<div *ngIf="showEditPage">
    <app-edit-page [editPage]="page"></app-edit-page>
</div>

<div *ngIf="showPost">
    <app-post [post]="post"></app-post>
</div>

<div *ngIf="showCreatePost">
    <app-create-post [pageId]="page._id" [pageName]="page.name"></app-create-post>
</div>
