<div class="col-md-6 offset-md-3">
    <div *ngIf="showHeaderInfo">
        <div class="title" (click)="returnToPage()">{{page.name}}</div>
        <div class="description">{{page.description}}</div>
        <div class="info">{{page.followers.length}} follower<span *ngIf="page.followers.length!=1">s</span>, {{visibility}} page</div>
        <div class="btns">
            <button *ngIf="(level==='admin' || level==='contributor') && !showCreatePost" class="btn btn-secondary btn-sm custom-btn pointer" (click)="createPost()">Write a Prayer Post</button>
            <button *ngIf="level==='admin'" class="btn btn-secondary btn-sm custom-btn pointer" (click)="editPage()">Edit Page</button>
        </div>
    </div>
</div>

<div *ngIf="showPosts" class="col-md-6 offset-md-3">
    <div *ngFor="let post of page.posts">
        <div class="post_header">{{post.author_name}}</div>
        <div class="post_date">{{post.create_date | date: 'MMMM d, y'}}</div>
        <div (click)="viewPost(post._id)" class="post_body">
            <div class="post_subject" [ngClass]="{'post_urgent': post.urgent}">{{post.subject}}</div>
            <div [innerHTML]="post.prayer" class="post_prayer"></div>
        </div>
    </div>
</div>

<div *ngIf="showEditPage">
    <app-edit-page [editPage]="page"></app-edit-page>
</div>

<div *ngIf="showPost">
    <app-post [post]="post" [pageName]="page.name"></app-post>
</div>

<div *ngIf="showCreatePost">
    <div class="offset-md-3 col-md-6">This post will appear in <span class="link" (click)="returnToPage()">{{page.name}}</span></div>
    <app-create-post [pageId]="page._id" [pageName]="page.name"></app-create-post>
</div>
