mat-card {
    margin-bottom: 5%;
}

mat-card:hover {
    cursor: pointer;
}

.btns {
    margin-bottom: 10%;
}

// .card-resolved {
//     border-right: 3px solid #00A676;
// }

.card-urgent {
    border-right: 5px solid #D62246;
}

.chip-resolved {
    background-color: green;
    color: white;
}

.chip-urgent {
    background-color: red;
    color: white;
}

.chips {
    margin-bottom: 2%;
}

.description {
    font-weight: 300;
    margin-bottom: 2%;
}

.followers {
    margin-bottom: 3%;
}

.subject {
    font-size: 24px;
}

.title {
    font-size: 24px;
    margin-top: 2%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}
