mat-card {
    margin-bottom: 5%;
}

mat-card:hover {
    cursor: pointer;
}

.card-resolved {
    border-right: 3px solid #00A676;
}

.card-urgent {
    border-right: 5px solid #D62246;
}

.checkbox {
    padding-left: 0;
}

.chip-resolved {
    background-color: green;
    color: white;
}

.chip-urgent {
    background-color: red;
    color: white;
}

.chips {
    margin-bottom: 2%;
}

.description {
    margin-bottom: 3%;
}

.followers {
    margin-bottom: 5%;
}

.mainFormElement {
    margin-bottom: 5%;
}

.minorFormElement {
    margin-bottom: 1%;
}

.subject {
    font-size: 24px;
}

.submit-post-btn {
    margin-bottom: 1%;
    margin-top: 1%;
}

.title {
    font-size: 24px;
    margin-top: 7%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.write-header {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
}
