@import "./../../styles.scss";

.btns {
    margin-bottom: 10%;
}

.chips {
    margin-bottom: 2%;
}

.description {
    font-weight: 300;
    margin-bottom: 2%;
}

.followers {
    margin-bottom: 3%;
}

.subject {
    font-size: $font-size-m;
}

.title {
    font-size: $font-size-m;
    margin-top: 2%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}
