<div class="links">
    <a class="link" routerLink="/login">Login</a>
    <a class="link" routerLink="/signup">Signup</a>
</div>
        
<div class="text-center"><span class="title">about us</span></div>
<div class="description col-md-4 offset-md-4">Hana exists to provide a platform for sharing prayer requests via the internet.</div>
<div class="body row">
    <div class="col-md-4 offset-md-4">
        <div class="header">What We Believe</div>
        <div class="about">We believe the gospel is the good news of God’s grace invading the darkness of this world. It is the grand narrative of creation, fall, redemption, and consummation ordained by God and orchestrated through the life, death, resurrection, and ascension of Jesus Christ.</div>
        <div class="about">We believe Christ’s death is a substitutionary and propitiatory sacrifice to God for our sins. It satisfies the demands of God’s holy justice and appeases His holy wrath. Jesus Christ is the only mediator between God and man. There is no other name by which men can be saved.</div>
        <div class="about">We believe prayer is communication with our heavenly Father, and the powerful force that links child and Father, earth and heaven, man’s impotence and God’s omnipotence. This direct contact is only made possible through Jesus Christ, whose righteousness covered us and provided us unlimited access to confidently approach a perfect God.</div>
    </div>
</div>
          