mat-sidenav {
    background-color: #fafafa;
    width: 20%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

mat-sidenav-content {
    background-color: white;
}

.sidebar-header {
    font-size: 24px;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
