<mat-sidenav-container *ngIf="true">

    <!-- sidebar -->
    <mat-sidenav mode="side" [(opened)]="sidebar_open">

        <mat-nav-list>
            <mat-list-item id="search" class="sidebar-item" (click)="showSearch()">
                Search 
                &nbsp; 
                <i class="fa fa-search" aria-hidden="true"></i>
            </mat-list-item>
        </mat-nav-list>

        <div *ngIf="loading">
            <i class="fa fa-spinner fa-pulse fa-2x"></i>
        </div>

        <div *ngIf="showSidebarMain">
            <mat-nav-list id="sidebar-main">
                <mat-list-item class="sidebar-item" (click)="getQueue()">Feed</mat-list-item>
                <mat-list-item class="sidebar-item" (click)="getPages()">Pages</mat-list-item>
                <mat-list-item class="sidebar-item" (click)="getLists()">My Lists</mat-list-item>
                <mat-list-item class="sidebar-item" (click)="getAccount()">My Account</mat-list-item>
            </mat-nav-list>
        </div>
            
        <div *ngIf="showSidebarPages">
            <mat-nav-list>
                <mat-list-item class="sidebar-item go-back" (click)="getMain()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp; 
                    Main Menu
                </mat-list-item>
                <div class="sidebar-header">
                    Pages
                    <div>
                        <i class="fa fa-plus-circle pull-right" aria-hidden="true" (click)="openDialogCreatePage()"></i>
                        <!-- <i class="fa fa-code pull-right" aria-hidden="true" (click)="getEnterPageCode()"></i> -->
                    </div>
                </div>
                <div *ngFor="let page of adminPages">
                    <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                        <a matLine>{{page.name}}</a>
                    </mat-list-item>
                </div>
                <div *ngFor="let page of contributorPages">
                        <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                            <a matLine>{{page.name}}</a>
                        </mat-list-item>
                    </div>
                <div *ngFor="let page of memberPages">
                    <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                        <a matLine>{{page.name}}</a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>
        
        <div *ngIf="showSidebarLists">
            <mat-nav-list>
                <mat-list-item class="sidebar-item go-back" (click)="getMain()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp; 
                    Main Menu
                </mat-list-item>
                <div class="sidebar-header">
                    My Lists
                    <div>
                        <i class="fa fa-plus-circle pull-right" aria-hidden="true" (click)="openDialogCreateList()"></i>
                    </div>
                </div>
                <div *ngFor="let list of lists">
                    <mat-list-item class="sidebar-item" (click)="getList(list._id)">
                        <a matLine>{{list.name}}</a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>

    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>

        <div class="sidebar-toggle">
            <i class="fa fa-bars" aria-hidden="true" (click)="sidebar_open=!sidebar_open"></i>
        </div>

        <div *ngIf="showContentSearch">
            <app-search></app-search>
        </div>

        <div *ngIf="showContentCreatePage">
            <app-create-page (pageCreated)="pageCreated($event)"></app-create-page>
        </div>

        <div *ngIf="showContentEnterPageCode">
            <app-page-code></app-page-code>
        </div>

        <div *ngIf="showContentList">
            <app-list [list]="list"></app-list>
        </div>

        <div *ngIf="showContentPage">
            <app-page [currentPage]="page" [level]="level"></app-page>
        </div>

        <div *ngIf="showContentPost">
            <app-post [post]="post"></app-post>
        </div>

        <div *ngIf="showContentQueue">
            <app-queue [queue]="queue"></app-queue>
        </div>

        <div *ngIf="showContentAccount">
            <app-account></app-account>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
