mat-list-item {
    margin-left: 10%;
    margin-right: 10%;
}

mat-sidenav {
    background-color: #fafafa;
    width: 20%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

mat-sidenav-content {
    background-color: white;
}

#search {
    border-bottom: 1px solid#C0C0C0;
    border-top: 1px solid#C0C0C0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

#searchDescription {
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

#sidebar-main {
    margin-top: 5%;
}

#query {
    background-color: transparent;
    border: 0px solid;
    font-size: 50px;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
}

.btnWrapper {
    width: 100%;
}

.fa.pull-right {
    margin-left: 1em;
}

.fa-plus-circle, .fa-code {
    color:  rgba(66, 59, 59, 0.6);
    font-size: 18px;
}

.fa-plus-circle:hover, .fa-code:hover {
    color: black;
    cursor: pointer;
}

.fa-spinner {
    color:  rgba(66, 59, 59, 0.6);
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.go-back {
    border-bottom: 1px solid#C0C0C0;
}

.sidebar-header {
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    justify-content: space-between;
    margin-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    width: 100%;
}

.sidebar-header-2 {
    font-size: 24px;
}

.sidebar-item {
    color: rgba(66, 59, 59, 0.6);
}

.sidebar-item:hover {
    background-color: #fafafa;
    color: black;
}

.sidebar-toggle {
    margin-left: 3%;
    margin-top: 2%;
}
