<mat-sidenav-container *ngIf="true">

    <!-- sidebar -->
    <mat-sidenav mode="side" opened="true">

        <mat-nav-list>
            <mat-list-item id="search" class="sidebar-item" (click)="showSearch()">
                Search 
                &nbsp; 
                <i class="fa fa-search" aria-hidden="true"></i>
            </mat-list-item>

            <!-- <div *ngFor="let page of searchPages">
                <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                    {{page.name}}
                </mat-list-item>
            </div> -->
        </mat-nav-list>

        <div *ngIf="showSidebarMain">
            <mat-nav-list id="sidebar-main">
                <mat-list-item class="sidebar-item" (click)="getPages()">Pages</mat-list-item>
                <mat-list-item class="sidebar-item">Lists</mat-list-item>
                <mat-list-item class="sidebar-item">My Account</mat-list-item>
            </mat-nav-list>
        </div>
            
        <div *ngIf="showSidebarPages">
            <mat-nav-list>
                <mat-list-item class="sidebar-item go-back" (click)="getMain()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp; 
                    Main Menu
                </mat-list-item>
                <div class="sidebar-header">Pages</div>
                <div *ngFor="let page of adminPages">
                    <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                        <a matLine>{{page.name}}</a>
                    </mat-list-item>
                </div>
                <div *ngFor="let page of memberPages">
                    <mat-list-item class="sidebar-item" (click)="getPage(page._id)">
                        <a matLine>{{page.name}}</a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>
        
        <div *ngIf="lists">
            Lists
        </div>
        
        <!-- <div *ngIf="showSidebarPage">
            <mat-nav-list>
                <mat-list-item class="sidebar-item" (click)="getPages()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp;
                    Pages
                </mat-list-item>
                <div class="sidebar-header">
                    <mat-list-item class="sidebar-item sidebar-header-2" (click)="getContentPage(page._id)">
                        {{page.name}}
                    </mat-list-item>
                </div>
                <div *ngFor="let post of posts">
                    <mat-list-item class="sidebar-item" (click)="getPost(post._id)">
                        {{post.subject}}
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div> -->

    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>

        <div *ngIf="showContentSearch">
            <app-search></app-search>
            <!-- <div id="searchDescription">Search for the people and topics you want to pray for</div>
            <input autofocus type="text" class="form-control" id="query" (keyup)="searchTerm$.next($event.target.value)" placeholder="Start typing...">                 -->
        </div>

        <div *ngIf="showContentPage">
            <app-page [page]="page"></app-page>
        </div>

        <div *ngIf="showContentPost">
            <app-post [post]="post"></app-post>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
