mat-card:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.post_date {
    margin-bottom: 1%;
}

.post_header {
    margin-top: 5%;
}

.prayer {
    font-size: 20px;
    margin-bottom: 5%;
}

.story {
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 4%;
}

.subject {
    font-size: 36px;
}

// .writing {
//     font-family: 'Merriweather';
// }
