<div class="col-md-6 offset-md-3">
    <div>{{post.author_name}}</div>
    <a class="link" [routerLink]="['/pages', post.page_id]">{{pageName}}</a>
    <div class="post_date">{{post.create_date | date: 'MMMM d, y'}}</div>
    <div *ngIf="post.urgent" class="urgent">This is an urgent prayer post.</div>
    <div class="subject" [innerHTML]="post.subject"></div>
    <div class="story" [innerHTML]="post.story"></div>
    <div class="prayer" [innerHTML]="post.prayer"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="options">
        <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="above">
        <button mat-menu-item (click)="addToList()">
            <!-- <mat-icon>dialpad</mat-icon> -->
            <span>Add to List</span>
        </button>
        <button *ngIf="listId != null" mat-menu-item (click)="removeFromList()">
            <span>Remove from this List</span>
        </button>
    </mat-menu>
</div>
