mat-card {
    margin-bottom: 4%;
}

.joinPageBtn {
    margin-top: 7%;
    text-align: center;
}

.search-btn {
    border-color: grey;
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
    color: grey;
}

.search-form {
    margin-bottom: 15%;
}

.subject {
    font-size: 24px;
}

.title {
    margin-bottom: 4%;
    margin-top: 7%;
}
