<div class="col-md-12">
    <div class="row subjectField">
        <span class="col-md-3 write-header">Subject</span>
        <div class="col-md-6">
            <input [(ngModel)]="newPostSubject"/>
        </div>
    </div>
    <div class="row storyField">
        <span class="col-md-3 write-header">The Story</span>
        <div class="col-md-6">
            <textarea rows="10" [(ngModel)]="newPostStory" placeholder="Tell the story..."></textarea>
        </div>
    </div>
    <div class="row prayerField">
        <span class="col-md-3 write-header">Prayer</span>
        <div class="col-md-6">
            <textarea rows="5" [(ngModel)]="newPostPrayer" placeholder="Write a prayer or share how to pray..."></textarea>
        </div>
    </div>
    <div class="row col-md-6 offset-md-3 checkbox minorFormElement">
        <mat-checkbox [(ngModel)]="urgent" matTooltip="time-sensitive prayer request" [matTooltipPosition]="toolTipPos">Urgent</mat-checkbox>
    </div>
    <div class="row col-md-6 offset-md-3 checkbox minorFormElement">
        <mat-checkbox [(ngModel)]="resolved" matTooltip="no longer needs prayer" [matTooltipPosition]="toolTipPos">Resolved</mat-checkbox>
    </div>
    <div *ngIf="resolved" class="row">
        <div class="col-md-3 write-header">Resolution</div>
        <div class="col-md-6">
            <textarea rows="5" [(ngModel)]="resolution" placeholder="Share what happened..."></textarea>
        </div>
    </div>
    <div class="row">
        <span class="col-md-3 write-header"></span>
        <div class="col-md-6">
            <button class="btn btn-secondary btn-sm custom-btn pointer submit-post-btn pull-right" (click)="submitPost()">Share Your Prayer Post</button>
        </div>
    </div>
</div>
