@import "./../../styles.scss";

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.checkbox {
    padding-left: 0;
}

.col-md-12 {
    padding: 0;
}

.custom-btn {
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.header {
    border-bottom: solid $color-super-light-grey 1px;
    padding: 0 0 1% 0;
}

.quill-editor {
    padding: 0;
}

.storyField {
    margin-bottom: 1%;
    margin-top: 3%;
    padding: 0;
}

.subject {
    font-size: 24px;
    padding-left: 1.1%;
    width: 65%;
}

.subjectField {
    margin-top: 5%;
}

.submit-post-btn {
    background-color: white;
    border: solid $grey-light-color 2px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 250px;
    z-index: 10;
}

.uhh {
    margin-bottom: 5px;
}

.write-header {
    margin-top: 10%;
}
