.checkbox {
    padding-left: 0;
}

.mainFormElement {
    margin-bottom: 4%;
}

.minorFormElement {
    margin-bottom: 1%;
}

.submit-post-btn {
    margin-bottom: 10%;
    margin-top: 1%;
}

.write-header {
    font-size: 18px;
    text-align: right;
}
