<div class="col-md-12">
    <div class="row mainFormElement">
        <span class="col-md-2 write-header">subject</span>
        <quill-editor class="col-md-8"
                        theme="bubble" 
                        placeholder="What is the story about?"
                        [modules]="subjectModules"
                        [(ngModel)]="newPostSubject"
                        (onEditorCreated)="setFocus($event)"
                        (onContentChanged)="subjectContentChanged($event);">
        </quill-editor>
    </div>
    <div class="row mainFormElement">
        <div class="col-md-2 write-header">the story</div>
        <quill-editor class="col-md-8"
                        theme="bubble" 
                        placeholder="Tell the story..."
                        [modules]="storyModules"
                        [(ngModel)]="newPostStory">
        </quill-editor>
    </div>
    <div class="row mainFormElement">
        <div class="col-md-2 write-header">prayer</div>
        <quill-editor class="col-md-8"
                        theme="bubble"
                        placeholder="Write a prayer or share how to pray..."
                        [modules]="prayerModules"
                        [(ngModel)]="newPostPrayer">
        </quill-editor>
    </div>
    <div class="row col-md-8 offset-md-2 checkbox minorFormElement">
        <mat-checkbox [(ngModel)]="urgent" matTooltip="time-sensitive prayer request" [matTooltipPosition]="toolTipPos">Urgent</mat-checkbox>
    </div>
    <div class="row col-md-8 offset-md-2 checkbox minorFormElement">
        <mat-checkbox [(ngModel)]="resolved" matTooltip="resolved prayer request" [matTooltipPosition]="toolTipPos">Resolved</mat-checkbox>
    </div>
    <div *ngIf="resolved" class="row mainFormElement">
            <div class="col-md-2 write-header">resolution</div>
            <quill-editor class="col-md-8"
                            theme="bubble"
                            placeholder="Share what happened..."
                            [modules]="prayerModules"
                            [(ngModel)]="resolution">
            </quill-editor>
        </div>
    <div class="col-md-10">
        <button mat-raised-button class="pull-right submit-post-btn" color="primary" (click)="submitPost()">Share Your Prayer Post</button>
    </div>
</div>
