input {
    width: 100%;
}

textarea {
    width: 100%;
}

.checkbox {
    padding-left: 0;
}

.col-md-12 {
    padding: 0;
}

.quill-editor {
    padding: 0;
}

.storyField {
    margin-bottom: 1%;
    margin-top: 2%;
}

.subject {
    font-size: 24px;
    padding-left: 1.1%;
    width: 65%;
}

.subjectField {
    margin-top: 5%;
}

.submit-post-btn {
    position: fixed;
    top: 40px;
    right: 50px;
}

.uhh {
    margin-bottom: 5px;
}

.write-header {
    margin-top: 10%;
}
