@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$blue-color: #1072BA;
$grey-light-color: rgba(0,0,0,.54);
$red-color: red;

$font-size-s: 18px;

.newDialogField {
    width: 600px;
}

.link {
    color: inherit;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

mat-card:hover {
    cursor: pointer;
}

mat-list-item > .mat-list-item-content {
    padding: 0 !important;
}

.mat-radio-outer-circle {
    border-color: grey !important;
}

.mat-radio-inner-circle {
    background-color: black !important;
}

.mat-radio-label-content {
    padding-right: 25px !important;
}

div > .mat-nav-list {
    padding-top: 0;
}

.custom-btn {
    border-color: black;
    color: black;
}

.custom-btn:hover {
    border-color: black;
    color: black;
}

.fa-bars:hover {
    cursor: pointer;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #81A4CD;
}

.mat-chip:not(.mat-basic-chip) {
    padding: 2px 7px !important;
}

.mat-form-field-infix {
    // width: 120px !important;
    width: 120px;
}

.pointer {
    cursor: pointer
}

.subject .mat-form-field-infix {
    border-top: 0;
    padding-top: 0;
}

.text-center {
    text-align: center;
}

.ql-container {
    font-size: 20px;
}


// PRAYER POST STYLES BEGIN

.post_body {
    margin-bottom: 10%;
}

.post_body:hover {
    cursor: pointer;
}

.post_date {
    color: $grey-light-color;
    font-size: 15px;
}

.post_header {
    font-size: 16px;
}

.post_prayer {
    color: $grey-light-color;
    font-size: 16px;
}

.post_subject {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1%;
}

.post_urgent {
    text-decoration: underline;
    text-decoration-color: $red-color;
}

// PRAYER POST STYLES END
