@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$blue-color: #1072BA;
$grey-light-color: rgba(0,0,0,.54);

$color-red: red;
$color-super-light-grey: #e6e6e6;

$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 42px;

p {
    margin: 0;
}

.newDialogField {
    width: 600px;
}

.link {
    color: inherit;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

mat-card:hover {
    cursor: pointer;
}

mat-list-item > .mat-list-item-content {
    padding: 0 !important;
}

.mat-radio-outer-circle {
    border-color: grey !important;
}

.mat-radio-inner-circle {
    background-color: black !important;
}

.mat-radio-label-content {
    padding-right: 25px !important;
}

div > .mat-nav-list {
    padding-top: 0;
}

.custom-btn {
    border-color: black;
    color: black;
}

.custom-btn:hover {
    border-color: black;
    color: black;
}

.fa-bars:hover {
    cursor: pointer;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #81A4CD;
}

.mat-chip:not(.mat-basic-chip) {
    padding: 2px 7px !important;
}

.mat-checkbox-inner-container {
    height: 15px !important;
    width: 15px !important;
}

.pointer {
    cursor: pointer
}

.ql-editor {
    padding: 0;
}

.ql-bubble .ql-editor img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subject .mat-form-field-infix {
    border-top: 0;
    padding-top: 0;
}

.text-center {
    text-align: center;
}

.ql-container {
    font-size: 20px;
}


// PRAYER POST STYLES BEGIN

.post_body {
    border-bottom: solid $color-super-light-grey 1px;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

// .post_body:hover {
//     cursor: pointer;
// }

.post_date {
    color: $grey-light-color;
    font-size: 15px;
    margin-bottom: 3%;
}

.post_header {
    font-size: 16px;
}

.post_prayer {
    color: $grey-light-color;
    font-size: 16px;
}

.post_subject {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1%;
}

.post_urgent {
    text-decoration: underline;
    text-decoration-color: $color-red;
}

// PRAYER POST STYLES END
