<div id="searchDescription">Search for the people and topics you want to pray for</div>
<input autofocus type="text" class="form-control" id="query" (keyup)="searchTerm$.next($event.target.value)" [(ngModel)]="query" name="query" placeholder="Start typing...">

<div class="text-sm-center">
    {{ pages_msg }}
</div>

<div *ngIf="showResults" class="col-md-8 offset-md-2">
    <div *ngFor="let page of pages">
        <mat-card (click)="viewPage(page)" (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)">
            <div class="pageTitle">{{page.name}}</div>
            <div>{{page.description}}</div>
            <div class="pageInfo">{{page.posts.length}} posts,
                <span *ngIf="page.followers.length === 1">{{page.followers.length}} follower</span>
                <span *ngIf="page.followers.length != 1">{{page.followers.length}} followers</span>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="showPage">
    <app-page [currentPage]="page" [level]="level"></app-page>
</div>