<div class="row">
    <span class="col-md-2 write-header">name</span>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what will this page be called?"
                    [modules]="nameModules"
                    [(ngModel)]="name"
                    (onEditorCreated)="setFocus($event)"
                    (onContentChanged)="nameContentChanged($event);">
    </quill-editor>
</div>
<div class="row">
    <div class="col-md-2 write-header">description</div>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what is this page about?"
                    [modules]="descriptionModules"
                    [(ngModel)]="description"
                    (onContentChanged)="descriptionContentChanged($event);">
    </quill-editor>
</div>
<div class="row">
    <div class="col-md-2 write-header">page code</div>
    <div class="col-md-8">
        {{page_code}}
        <button class="btn btn-secondary btn-sm" (click)="openDialog()">Refresh Page Code</button> 
    </div>
</div>
<div class="row">
    <div class="col-md-2 write-header">admins</div>
    <div class="col-md-8" *ngFor="let admin of admins">
        {{admin.name}}
    </div>
</div>
<div class="row">
    <div class="col-md-2 write-header">contributors</div>
    <div class="col-md-8" *ngFor="let contributor of contributors">
        {{contributor.name}}
    </div>
</div>
<div class="col-md-10">
    <button class="btn btn-outline-primary pointer submit-post-btn pull-right" color="primary" (click)="createPage()">Update Page</button>
</div>