.checkbox {
    padding-left: 0;
}

.mainFormElement {
    margin-bottom: 5%;
}

.minorFormElement {
    margin-bottom: 1%;
}

.submit-post-btn {
    margin-bottom: 1%;
    margin-top: 1%;
}

.write-header {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
}
.bottom {
    width: 100%;
}

.btnWrapper {
    width: 100%;
}

.custom-btn {
    margin-top: 5%;
}

.links {
    width: 100%;
}

.notification {
    margin-top: 5%;
    width: 100%;
}

.notificationWrapper {
    width: 100%;
}
