<div class="row">
    <span class="col-md-2 write-header">name</span>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what will this page be called?"
                    [modules]="nameModules"
                    [(ngModel)]="name"
                    (onEditorCreated)="setFocus($event)"
                    (onContentChanged)="nameContentChanged($event);">
    </quill-editor>
</div>
<div class="row">
    <div class="col-md-2 write-header">description</div>
    <quill-editor class="col-md-8"
                    theme="bubble" 
                    placeholder="what is this page about?"
                    [modules]="descriptionModules"
                    [(ngModel)]="description"
                    (onContentChanged)="descriptionContentChanged($event);">
    </quill-editor>
</div>
<div class="row">
    Page Code: {{page_code}}
    <button (click)="refreshCode()">Refresh Page Code</button>
</div>
<div class="row">
    Current Admins
    Current Contributors
</div>
<div class="row">
    Requestors
</div>
<div class="col-md-10">
    <button mat-raised-button class="pull-right submit-post-btn" color="primary" (click)="createPage()">Update Page</button>
</div>