mat-card {
    margin-bottom: 5%;
}

mat-card:hover {
    cursor: pointer;
}

.description {
    margin-bottom: 3%;
}

.row {
    margin-bottom: 5%;
}

.title {
    font-size: 24px;
    margin-top: 7%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}
