@import "./../../styles.scss";

mat-card {
    margin-bottom: 5%;
}

mat-card:hover {
    cursor: pointer;
}

.description {
    color: $grey-light-color;
    font-weight: 300;
    margin-bottom: 5%;
}

.title {
    font-size: 24px;
    margin-top: 2%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}
